<p id="notice"><%= notice %></p>

<h1>Listing Cabs</h1>

<table>
  <thead>
    <tr>
      <th>Cab type</th>
      <th>Cab no</th>
      <th>Rate</th>
      <th>Insured</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabs.each do |cab| %>
      <tr>
        <td><%= cab.cab_type %></td>
        <td><%= cab.cab_no %></td>
        <td><%= cab.rate %></td>
        <td><%= cab.insured %></td>
        <td><%= link_to 'Show', cab %></td>
        <td><%= link_to 'Edit', edit_cab_path(cab) %></td>
        <td><%= link_to 'Destroy', cab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cab', new_cab_path %>
