<p id="notice"><%= notice %></p>

<p>
  <strong>Cab type:</strong>
  <%= @cab.cab_type %>
</p>

<p>
  <strong>Cab no:</strong>
  <%= @cab.cab_no %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @cab.rate %>
</p>

<p>
  <strong>Insured:</strong>
  <%= @cab.insured %>
</p>

<%= link_to 'Edit', edit_cab_path(@cab) %> |
<%= link_to 'Back', cabs_path %>
